@if (User.Identity.IsAuthenticated)
{
<span>
    Здравствуйте,
    <a asp-controller="Profile" asp-action="Index">
        @User.Identity.Name
    </a>
</span>
<form method="post" asp-controller="Account" asp-action="Logout" asp-antiforgery="true">
    <input type="submit" value="Выход" class="btn btn-default" />
</form>

    if (User.IsInRole("Admin"))
    {
        <a asp-action="Index" asp-controller="Home" asp-area="Admin" class="btn btn-sm btn-link">
            Админка
        </a>
    }
}
else
{
<div class="btn-group pull-right">
    <a asp-controller="Account" asp-action="Login" class="btn btn-default">Войти</a>
    <a asp-controller="Account" asp-action="Register" class="btn btn-default">Регистрация</a>
</div>
}
