@model IEnumerable<WebStore.DomainNew.ViewModels.BrandViewModel>;

<div class="brands_products">
    <!--brands_products-->
    <h2>Brands</h2>
    <div class="brands-name">
        <ul class="nav nav-pills nav-stacked">
            @foreach (var brandViewModel in Model)
            {
                <li>
                    <a asp-action="Shop" asp-controller="Catalog" asp-route-brandId="@brandViewModel.Id">
                        <span class="pull-right">
                            (@brandViewModel.ProductsCount)
                        </span>
                        @brandViewModel.Name
                    </a>
                </li>
            }
        </ul>
    </div>
</div><!--/brands_products-->