
@{
    ViewBag.Title = "Связь с нами";
}

<div id="contact-page" class="container">
    <div class="bg">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title text-center">Contact <strong>Us</strong></h2>
                <div id="gmap" class="contact-map">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                @await Html.PartialAsync("Partial/_ContactForm")
            </div>
            <div class="col-sm-4">
                @await  Html.PartialAsync("Partial/_ContactInfo")
            </div>
        </div>
    </div>
</div><!--/#contact-page-->
